---
import { SITE_TITLE } from '../consts';
---

<nav class="navbar">
  <a href="/" class="logo">
    {SITE_TITLE}<span class="dot">.</span>
  </a>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog">Articles</a>
    <a href="/about">About</a>
  </div>
</nav>
